/* site footer */
.site-footer {
	padding: $base-spacing 0 $small-spacing 0;
	background-color: $light-gray;
	
	.widget {
		margin-bottom: $base-spacing;
	}
	.footer-widget-title {
		@extend %h5;
	}
}
/* sticky footer */
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.banner, .for-content, .site-footer {
  /* flex: 1; would be enough but it looks bad in IE */
  flex: 1 0 auto;
  // flex: 1;

}
.for-content {
	// flex: 4;
}